/*** sectioning elements ***/

body {
  background-color: #00ffff;
}

header {

}

main {

}

footer {

}

nav {

}

section {

}

aside {

}


/**** content styles ***/
p
h1 {

}

h2 {
  color: #000000;
  text-align: left;
  font-size: 18px;
  font-family: 'Indie Flower', cursive;
}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

p {

}

blockquote {

}

ol {

}

ul {

}

li {

}

table {
margin: auto;
}

tr {

}

th {

}

td {

}


/*** image styles ***/

img  {

}


/*** link styles ***/

a:link {

}

a:visited {

}

a:hover {

}

a:active {

}
